/**
* Stylesheet for showcase page
* @author jotuo
*/

header {
    display: block;
    width: 100%;
    height: 200px;
}

nav {
    display: block;
    width: 100%;
    height: 150px;
}

main {
    width: 100%;
}

.container {
    display: grid; 
    grid-template-columns: 500px 200px; 
    gap: 5px 5px; 
}

aside {

}

section {

}

article {

}

h1 {

}

h2 {

}

p {

}

h3 {

}

footer {
    width: 100%;
    height: 50px;
}